html,
body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

.header-container {
    padding: 20px;
    border-bottom: 1px solid #cccc;
    padding-bottom: 50x;
}

.header-container h1 {
    margin: 0;
}

.header1 {
    display: flex;
    align-items: flex-start;
}

.header2 {
    display: flex;
    align-items: center;
}